</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="src/bufferloader.js"></script>
    <script src="src/id3-minimized.js"></script>
    <script src="src/audiovisualisierung.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../static/style.css">
    <title>Personal Assistant</title>
</head>
<body>
    <div class="section">
    <div class="butt">
        <a href="/my-link/" id="useMicButton" type="button" onClick="useMic()" onclick=""><i class="fa fa-microphone" style="font-size: 700%;color: rgb(45, 164, 168); z-index: 1; " ></i></a>
    </div>
    <video autoplay loop muted>
        <source src="../static/video.mp4">
    </video> 
</div>
</body>
</html>